
  
  .errors{
    align-items:flex-end;
    font-size:70%;
  }
  #form{
   
    position: fixed;
    display:flex;
    flex-direction:column;
    align-items:center;
    position: absolute;
    
 align-self: center;
    left: 42%;

  
  }
  :host{
    size: 50%;
  }
  