mat-form-field{
 font-family: Arial, Helvetica, sans-serif;
  color:grey;
  text-align: center;
  
}
  
  .errors{
    align-items:flex-end;
    font-size:70%;
  }
  #form{
   
   padding: 5%;
    display:flex;
    flex-direction:column;
    align-items:center;
    position: absolute;
    
 align-self: center;
   text-align: center;
   
    width: 30%;
    // margin-right: 30%;

  margin-left: 30%;
  border-radius: 5px;
  border: double;
  border-color: black;
  background-color: aliceblue;
  }
  :host{
    size: 80%;
  
  }
  h1{
    
      text-align: center ; 
      color:darkgrey;
     
   
    
  }
 #child{

  background-color:rgb(243, 239, 239);
    padding: 20px;
    border-radius: 20px;
    border:double
   

  }
  button {
    margin-right: 8px;
  }
  
  .popup {
   position: absolute;
  
  
    height: 30%;
    // background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:darkturquoise #fff;
    padding: 20px;
    border-radius: 5px;
   
 margin-top: 20%;
    
  }

