<h1>Hi dear user, please enter your personal details</h1>

<div id="form">

<mat-form-field>
  <mat-label>first name</mat-label>
  <input matInput [(ngModel)]="userService.currentUserService.FirstName" name="FirstName" required pattern="[a-zA-Z א-ת]*" #FirstName="ngModel" >
  <div class="errors" *ngIf="FirstName.touched&&FirstName.errors&&FirstName.errors['required']">This is a required field</div>
  <div class="errors" *ngIf="FirstName.invalid && (FirstName.dirty || FirstName.touched)">A name can only contain letters  </div>
</mat-form-field>

<mat-form-field>
  <mat-label>last name</mat-label>
  <input matInput  [(ngModel)]="userService.currentUserService.LastName" name="LastName" required pattern="[a-zA-Z א-ת]*" #LastName="ngModel">
  <div class="errors" *ngIf="FirstName.touched&&FirstName.errors&&FirstName.errors['required']">This is a required field</div>
  <div class="errors" *ngIf="FirstName.invalid && (FirstName.dirty || FirstName.touched)">A name can only contain letters  </div>
</mat-form-field>

<mat-form-field>
  <mat-label>ID number</mat-label>
  <input matInput  [(ngModel)]="userService.currentUserService.IdNumber" name="IdNumber" required pattern="[0-9]*"  #IdNumber="ngModel">
  <div class="errors" *ngIf="IdNumber.touched&&IdNumber.errors&&IdNumber.errors['required']">This is a required field  </div>
  <div class="errors" *ngIf="IdNumber.invalid && (IdNumber.dirty || IdNumber.touched)">An ID can only contain digits</div>
</mat-form-field>

<mat-form-field>
  <mat-label>Date of birth</mat-label>
  <input matInput type="date" [(ngModel)]="userService.currentUserService.DateOfBirth" name="DateOfBirth">
</mat-form-field>

<mat-form-field>
  <mat-label>HMO</mat-label>
  <mat-select [(ngModel)]="userService.currentUserService.HMO" name="HMO" required >
    <mat-option value="1"  class="fill" >clalit</mat-option >
    <mat-option value="2"   class="fill">meuchedet</mat-option >
    <mat-option value="4"  class="fill" >Maccabi</mat-option>
    <mat-option value="8"  class="fill" >leumit</mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field>
  <mat-label>personal situation</mat-label>
  <mat-select #personalState name="personalState" required >
    <mat-option value='true'  class="fill">Married</mat-option>
    <mat-option value='false'  class="fill">Single</mat-option>
  </mat-select>
</mat-form-field>


<div *ngIf="personalState.value=='true'">
  <mat-form-field>
    <mat-label>Spouse's ID number</mat-label>
    <input matInput [(ngModel)]="userService.currentUserService.SpouseId"  name="SpouseId">
    <div class="errors" *ngIf="IdNumber.touched&&IdNumber.errors&&IdNumber.errors['required']">This is a required field  </div>
    <div class="errors" *ngIf="IdNumber.invalid && (IdNumber.dirty || IdNumber.touched)">An ID can only contain digits</div>
  </mat-form-field>
</div>


 
  <button mat-raised-button color="accent"(click)="moreChild()">add child</button>


<mat-form-field *ngIf="display">
  <mat-form-field>
    <mat-label>first name</mat-label>
    <input matInput  [(ngModel)]="child.FirstName"  name="childFirstName" required pattern="[a-zA-Z א-ת]*" #FirstName="ngModel" >
    <div class="errors" *ngIf="FirstName.touched&&FirstName.errors&&FirstName.errors['required']">This is a required field</div>
    <div class="errors" *ngIf="FirstName.invalid && (FirstName.dirty || FirstName.touched)">A name can only contain letters  </div>
  </mat-form-field>

  <mat-form-field>
    <mat-label>ID number</mat-label>
    <input matInput  [(ngModel)]="child.IdNumber"  name="childIdNumber"required required pattern="[0-9]*"  #IdNumber="ngModel">
    <div class="errors" *ngIf="IdNumber.touched&&IdNumber.errors&&IdNumber.errors['required']">This is a required field  </div>
    <div class="errors" *ngIf="IdNumber.invalid && (IdNumber.dirty || IdNumber.touched)">An ID can only contain digits</div>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Date of birth</mat-label>
    <input matInput type="date" [(ngModel)]="child.DateOfBirth" name="childDateOfBirth" required id="dd" >
  </mat-form-field>
</mat-form-field>


<button mat-raised-button  color="accent" (click)="save()" [ngStyle]="{'margin-top.%': 10 ,'margin-bottom.%': 10 }" > addUser</button>


</div>









  
   
   
   
   
   <pre>

















    </pre>