.example-container mat-form-field + mat-form-field {
    margin-left: 8px;
    direction: rtl;
  }
  body{direction: rtl;
  background-color: brown!important;}
  .child{
    size: 20%;
    color:aqua !important;
  }