
.example-spacer {
    flex: 1 1 auto;
  }
  #down{
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    position: absolute;
    
    margin-top: 5%;
    top:5%
    
  
  }
  #in{
    width: 150%;
  }
  